<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681540505533-fvoc9k2o572e35qja3hfb47j4uuodqu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681540505533-fvoc9k2o572e35qja3hfb47j4uuodqu2</string>
	<key>API_KEY</key>
	<string>AIzaSyBpnarWYGdoBYPXKrja8fyK_npy6hRYWnI</string>
	<key>GCM_SENDER_ID</key>
	<string>681540505533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shortVideoApp</string>
	<key>PROJECT_ID</key>
	<string>video-app-fb283</string>
	<key>STORAGE_BUCKET</key>
	<string>video-app-fb283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681540505533:ios:1bf3e8c782d10e9e078cd4</string>
</dict>
</plist>